<div class="row" >
            <div class="col-md-12" style="background: #000000; color: #ffffff; padding: 15px;">
                <div class="col-md-3">
                    <a class="btn btn-default" href="{% url 'index' %}">Home</a>
                </div>
                <div class="col-md-3 col-md-offset-6">
                    <a class="btn btn-default" href="{% url 'register' %}">Register</a>
                    <a class="btn btn-default" href="{% url 'login_view' %}">Login</a>
                </div>
            </div>
        </div>