{% extends 'base.html' %}
{% block content %}
    {% include 'header.html' %}
    {{ error_message }}
    <form method="post" action="/logging/">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_username">Username</label>
          {{ form.username }}
        </div>
        <div class="form-group">
          <label for="id_password">Password</label>
          {{ form.password }}
        </div>
        <input type="submit" value="Login" />
    </form>
{% endblock %}